<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Ted Talks Ideas Scraper</title>
    <!-- Favicon -->
    <link rel="icon" href="#">
    <!-- View Port Size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Materialize - Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/style/style.css">
  </head>

  <body>
  
    <!-- Fixed Nav Bar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper #0d47a1 blue darken-4">
          <a href="/" class="brand-logo grey-text text-lighten-4">Ted Talks Ideas Scraper</a>
          <a href="" data-activates="mobile-demo" class="button-collapse grey-text text-lighten-4"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="https://ideas.ted.com/" class ="grey-text text-lighten-4"target="_new">Ted Talks Ideas</a></li>
            
          </ul>
        </div>
      </nav>
    </div>

    <!-- For Mobile Nav Bar -->
    <ul class="side-nav darken-3 grey-text text-lighten-4" id="mobile-demo">
      <li><a href="https://ideas.ted.com/" target="_new">Ted Talks Ideas</a></li>
      <li><a href="https://github.com/JenniferLang1921/Ted-Talk-Ideas-Scraper" target="_new">Github Repo</a></li>
    </ul>


    <!-- Page Content -->
    <main> 

      <!-- Site Info Container -->
      <div class="container">
        <ul class="collection with-header center">
          <li class="collection-header blue darken-4 grey-text text-lighten-4"><h4><b>Welcome to Ted Talks Ideas Scraper!</b></h4>
         <p>This website lets you scrape articles from https://ideas.ted.com and comment on them.</p>
         <a href="/scrape" class="waves-effect btn blue darken-1">Scrape</a></li>
        
        </ul>

      </div>

      <!-- Render All Articles -->
      <div class="container">
        {{{body}}}
      </div>

    </main>


    <!-- Footer -->
    <footer class="page-footer blue darken-4">
      <div class="footer-copyright">
        <div class="container center">
       
        <a class="grey-text text-lighten-4" href="https://github.com/JenniferLang1921/Ted-Talk-Ideas-Scraper" target="_new">Github Repo</a>
        
        </div>
      </div>
    </footer>



    <!-- Link in jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Materialize - Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- Basic Page JavaScript for Repsonsiveness -->
    <script type="text/javascript" src="assets/javascript/app.js"></script>
    
  </body>

</html>